<%- include('partials/header') %>

<section class="intro">
    <p>Velkomin á besta bíomyndavef landsins.</p>
    <p>hér munum við bráðlega birta lista af kvikmyndum.</p>
</section>

<%- include('partials/footer') %>