<%- include('partials/header') %>
<main style="text-align: center; padding: 4rem;">
    <h1>404</h1>
    <p>Úps! þessi síða finnst ekki.</p>
    <a href="/" class="btn">Fara aftur heim</a>
</main>
<%- include('partials/header') &>